<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

    <ion-button slot="end" color="medium" class="margin" id="help-menu-trigger">Click here for help</ion-button>
    <ion-popover trigger="help-menu-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <h2>
            Welcome to Local Event Finder!
          </h2>
          <p>
            In this app, you can find the latest and greatest events happening in your area.
          </p>
          <p>
            This app uses the Ticketmaster and Eventbrite APIs.
          </p>
          <p>
            I hope you enjoy this app!
          </p>
          <p>
            - Created by Fionn McCarthy
          </p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- 
    @for (event of events; track event.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ event.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content></ion-card-content>
      <ion-card-content>
        <img [src]="event.imageUrl" alt="{{ event.title }}" />
        <p>{{ event.date }}</p>
        <p>{{ event.location }}</p>
      </ion-card-content>
    </ion-card>
    }
    -->
  </ion-list>
</ion-content>