<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Past Events
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Past Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    @for (event of pastEvents; track event.id) {
    <ion-item class="event-list-item">
      <ion-avatar class="event-poster" slot="start">
        <img [src]="event.imageUrl" alt="poster">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3> {{ event.title }} </h3>
        <p>Date: {{ event.date }}</p>
      </ion-label>

      @if (event.rating) {
      <ion-badge slot="end">Rating: {{ event.rating }}</ion-badge>
      }
    </ion-item>
    } @empty {
    <ion-item lines="none">
      <ion-label>No past events found</ion-label>
    </ion-item>
    }

  </ion-list>
</ion-content>