<ion-header #eventHeader tabindex="-1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-toggle class="status-toggle" slot="end" [(ngModel)]="eventStatus" (ionChange)="toggleEventStatus()">I'm interested</ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Loading event details...</p>
  </div>

  <div *ngIf="error" class="error-container">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>Unable to load event details. Please try again later.</p>
  </div>

  <div *ngIf="!loading && !error && event" class="event-container">
    <ion-card class="event-image-card">
      @if (event.images && event.images.length > 0 && event.images[0].width > 320) {
        <img class="event-image" [src]="event.images[0].url" [alt]="event.name + ' image'">
        } @else if (event.images && event.images.length > 1) {
        <img class="event-image" [src]="event.images[1].url" [alt]="event.name + ' image'">
        }
      <ion-card-header>
        <ion-card-title>{{ event.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-list lines="none" class="event-details-list">

      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Date & Time</ion-label>
        <ion-note slot="end">{{ event.dates.start.localDate && event.dates.start.localTime ? event.dates.start.localDate
          + " @ " + event.dates.start.localTime : "Date unavailable" }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>Location</ion-label>
        <ion-note slot="end">{{ event._embedded.venues[0].name && event._embedded.venues[0].state.name ? event._embedded.venues[0].name + ", " + event._embedded.venues[0].state.name : "Date Unavailable"
          }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-label>Price Range</ion-label>
        <ion-note slot="end">{{ event.priceRanges[0].min ? "$" + event.priceRanges[0].min : "Price unavailable" }}
          - {{ event.priceRanges[0].max ? "$" + event.priceRanges[0].max : "Price unavailable" }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Age Restrictions</ion-label>
        <ion-note slot="end">{{ event.info ? event.info : "No age restrictions" }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
        <ion-label>Genre</ion-label>
        <ion-note slot="end">{{ event.classifications[0].genre.name ? event.classifications[0].genre.name : "Genre
          unavailable" }}</ion-note>
      </ion-item>
    </ion-list>

    <div class="ticket-info" *ngIf="event.url">
      <a [href]="event.url" target="_blank" class="buy-tickets-btn">
        <ion-button expand="block" color="primary">
          <ion-icon name="ticket-outline" slot="start"></ion-icon>
          Buy Tickets
        </ion-button>
      </a>
    </div>
  </div>
</ion-content>